body {
  background-color: #b3bed1;  
  min-height: 100vh;
}

body.dark-bg {
  background-color: #e9ecef; 
}

body.gradient-bg {
  background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100%);
}

.btn-delete {
  color: red;
  font-weight: bold;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}
